body
{
	margin:0px 0px 0px 0px;
	padding:0px;
	background-color:rgba(0,0,0,0.95);
	font-family:"微軟正黑體";
}
.top_list
{
	margin:0px 10%;
	font-size:24px;
	padding:0.5em 20px;
	line-height:2.5em;
	border-radius:3px;
	cursor:pointer;
	display:inline;
	transition-duration:0.3s;
}
.top_list:hover
{
	background-color:rgba(240,240,240,1);
}
.detail_content
{
	
}
#dt_tb
{
	width:60%;
	position:relative; top:30px;
	border-spacing:0px;
}
.dt_tb_hd
{
	font-size:24px;
	font-style:oblique;
}
.dt_tb_ph
{
	width:30%;
}
.dt_tb_tur
{
	width:30%;
}
.dt_tb_time
{
	width:auto;
}
.ay_tb_hd
{
	height:60px;
	font-size:24px;
	font-style:oblique;
}
#ay_tb
{
	width:60%;
	position:relative; top:30px;
	border-spacing:0px;
}